spring:
  cloud:
    gateway:
      globalcors:
        corsConfigurations:
          '[/**]':
            allowedOrigins:
              - "http://192.168.107.193:3000"
            allowedHeaders:
              - "*"
            allowedMethods:
              - "*"
            allowCredentials: true